body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.btn-warning, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning {
    background: #f4cf98;
    border: none;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 24px;
}

.btn-warning:hover {
    background: #f7ddb7;
}

h1 {
    font-family: 'EB Garamond', serif;
}

.page-logo {
    text-align: center;
    margin: 2%;
}

.form-wrapper {
    width: 600px;
    background-color: white;
    position: relative;
    margin: auto;
    font-family: 'EB Garamond', serif;
}

.form-info {
    position: absolute;
    top: -100px;
    left: -325px;
    width: 300px;
}
.form-image {
    width: 100%;
}
.form-info-text {
    text-align: right;
}

#signup-form {
    border: 7.5px solid #f4cf98;
    background-color: white;
    margin-top: 150px;
    padding-right: 5%;
    padding-left: 5%;
}

.corner-image {
    position: absolute;
    top: -150px;
    left: 500px;
    width: 250px;
}

.spacer {
    height: 25px;
}

@media only screen and (max-width: 800px) {
    .page-logo {
        display: none;
    }

    .form-wrapper {
        position: static;
        margin-top: 0;
        border: 5px solid #f4cf98;
        width: 100%;
    }

    #signup-form {
        position: static;
        border: none;
        margin-top: 0;
    }

    .form-info {
        position: static;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .form-info-text {
        font-size: 14px;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 0;
    }
    
    #form-image {
        width: 100%;
        min-width: 200px;
    }

    .corner-image {
        position: static;
        display: none;
    }
}

@media only screen and (max-width: 550px) {
    .form-info {
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}