body {
    width: 80%;
    margin: 10px auto;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    margin: auto;
    width: 80%;
}

.sub-header {
    font-weight: 600; 
    line-height: 1.2; 
    font-size: 1.25em;
}

.flex-direction-column {
    display: flex;
    flex-direction: column;
}

.flex-direction-row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.little-spacer {
    height: 10px;
}

.spacer {
    height: 25px;
}

.border {
    border: 1px solid black;
}

.flex-2 {
    flex: 2;
}

.text-center {
    text-align: center;
}

a.button-book-now {
    display: inline-block;
    padding: 10px 10%;
    border-radius: 10px;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1.75em;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
    font-family: 'EB Garamond', serif;
}
a.button-primary {
    background-color: rgb(218, 171, 61);
    color: black;
}
a.button-primary:hover {
    background-color: black;
    color: rgb(218, 171, 61);
}
a.button-secondary {
    background-color: black;
    color: rgb(218, 171, 61);
}
a.button-secondary:hover {
    background-color: rgb(218, 171, 61);
    color: black;
}

.button-div {
    text-align: center; 
    margin: auto; 
    width: 30%;
}

.read-more {
    text-decoration: none;
    color: rgb(218, 171, 61);
    font-weight: bold;
}

@media all and (max-width: 800px){
    body {
        width: 100%;
        margin-top: 0px;
    }

    .sub-header {
        text-align: center;
    }

    .flex-direction-row {
        display: flex;
        flex-direction: column;
    }

    .button-div {
        width: 90%;
    }
}